{
  "plugins": [
    "@babel/plugin-transform-react-constant-elements",
    "@babel/plugin-proposal-class-properties"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "targets": {
          "browsers": ["last 2 versions", "safari > 8", "not ie < 11"]
        }
      }
    ],
    "@babel/preset-react"
  ]
}
