# http://editorconfig.org
root = true

[*]
charset = utf-8
indent_size = 2
indent_style = space

[*.md]
trim_trailing_whitespace = false

[*.{js,html,htm,css,ts,jsx,tsx}]
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{cs,vb,ps1}]
end_of_line = crlf
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.{java,swift}]
end_of_line = crlf
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.bat]
end_of_line = crlf
