<p>
    Between 5 years of personal and professional experience in PHP, 4 years of C++ in school,
    and other curiosity fueled endeavors I've had experience with many types of languages and
    architectures. From writing my own chat program using TCP Sockets to developing a full stack
    web application my love of learning has helped me quickly adapt to and meet any challenges
    I've been presented.
</p>

<p>
    You can check out my most recent project,
    <a target="_blank" href="http://graphit.wilsongp.net">Graphit</a>, built with CakePHP and AngularJS.
    It merges any public API I can get my hands on to analyze and graph past and, ideally, future trends.
    It's still in early stages since I don't have a lot of time or API access
    yet but you can get the gist of it.
</p>

