<div class="sidebar-nav" id="sidebar-nav" sticky-scroll>
    <div class="navbar navbar-inverse" role="navigation" id="nav-link-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-links">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="visible-xs navbar-brand"></span>
        </div>
        <div class="navbar-collapse collapse" id="nav-links">
            <ul class="nav navbar-nav">
                <li ng-repeat="route in routes track by $index">
                    <a href="#!/{{route}}">{{ route | capitalize }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
