@import '~@wilsongp/common.assets/scss/mixins';
@import '../../../../assets/style/vars';

$odd-color: rgb(146, 182, 239);
$even-color: rgb(206, 215, 229);
$hover-opacity: .3;

img {
  height: 100%;
  margin: 0px;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
}


.hobby-wrapper > div {

  &:nth-of-type(odd) {
    background-color: $odd-color;
  }

  &:nth-of-type(even) {
    background-color: $even-color;
    app-hobby /deep/ img {
      order: 2;
    }
  }
}

.mobile {
  color: #ffffff;
  position: absolute;
  z-index: 2;
  display: block;
  text-align: center;
  padding: 3rem;
}

app-hobby {
  filter: brightness($hover-opacity);
}

@include lg {
  h3 {
    font-size: 3rem;
  }
  p {
    font-size: 1.5rem;
  }
}

@include md {
  app-hobby {
   filter: brightness(1);
 }

 .mobile {
   display: none;
 }

 img {
  max-height: $section-height;
  max-width: 50%;

  height: auto;
  min-height: auto;
  min-width: auto;
  width: auto;
 }
}
