@import '~@wilsongp/common.assets/scss/mixins';
@import '../../../../assets/style/vars';

$odd-color: rgb(146, 182, 239);
$even-color: rgb(206, 215, 229);
$hover-opacity: .3;

img {
  max-height: $section-height;
  max-width: 50%;
}


.hobby-wrapper > div {
  &:nth-of-type(odd) {
    background-color: $odd-color;
  }

  &:nth-of-type(even) {
    //filter: brightness(.5);
    background-color: $even-color;
    img {
      filter: blur(50%)
    }
  }
}

.mobile {
  display: none;
  color: #ffffff;
  position: absolute;
}

.filterClass {
  filter: brightness($hover-opacity);
  + .mobile {
    display: block;
  }
}

@include md {
 .filterClass {
   filter: brightness(1);
 }
}
