<div class="repository-container" fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="1rem">
  <h2>Projects</h2>
  <div class="row" fxFill>

    <app-loading *ngIf="loading$ | async" message="Loading ..." fxLayout="row wrap" fxLayoutAlign="space-around center">
    </app-loading>
    <app-error *ngIf="error$ | async" [error]="error$ | async" fxLayout="row wrap" fxLayoutAlign="space-around center">
    </app-error>

    <div class="col-xs-3"> <!-- required for floating -->
      <!-- Nav tabs -->
      <nav class="nav flex-column" *ngFor="let repo of repos$ | async">
        <a class="nav-link active" href="#" (click)="selectRepo(repo.id)">{{repo.name}}</a>
      </nav>
    </div>
    <div class="col">
        <!-- Tab panes -->
        <div class="tab-content">
          <div *ngIf="_selected" class="tab-pane active" id="home">
            {{_selected.name}}
            <p><strong>TODO:</strong> Replace me with a component</p>
          </div>
        </div>
    </div>
  </div>
</div>


