@import '~@wilsongp/common.assets/scss/mixins';

$min-repo-height: 10rem;

ngb-tabset {
  min-height: $min-repo-height;
}

app-loading,
app-error {
  width: 100%;
  min-height: 3rem;
  background: transparent;
}
