@import '~@wilsongp/common.assets/scss/mixins';
@import '../../../../assets/style/vars';

@function dynamic-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000000; // Lighter backgorund, return dark color
  } @else {
    @return #ffffff; // Darker background, return light color
  }
}

section {
  padding: 1rem;
}

ngb-tabset {
  min-height: $section-height;
}

app-loading,
app-error {
  width: 100%;
  min-height: 3rem;
  background: transparent;
}
