
@import '~@wilsongp/common.assets/scss/mixins';
@import '~@wilsongp/common.assets/scss/variables';

// 56px is height of toolbar
$banner-height: calc(100vh - 56px);
$banner-height-md: 40vh;
$banner-height-lg: 50vh;

$bg-size: cover;
$bg-size-md: contain;
$bg-size-lg: contain;

$bg-mobile: 'assets/images/header_lg.jpg';

.banner {
  height: $banner-height;
  background-image: $bg-mobile;
  background-size: $bg-size;
  background-position: center;
  background-repeat: no-repeat;

  font-size: 2rem;

  img {
    z-index: -1;
  }
}

.banner-content {
  text-align: center;
  position: absolute;

  color: #fff;
  text-shadow: 0 1px 2px rgba(0,0,0,.2);
  text-transform: uppercase;
  h1 {
    font-size: 3rem;
  }
}

@include md {
  .banner {
    height: auto; /* the image height determines the height */
    font-size: 2rem;
    img{
      position: relative; /*Undoing the hack basically*/
      right: auto;
      top: auto;
      left: auto;
      bottom: auto;
      width: 100%; /*rather than the width get cropped, it's full. height is auto*/
    }
  }
  .banner-content {
    h1 {
      font-size: 3rem;
    }
  }
}

@include lg {
  .banner {
    font-size: 3rem;
  }
  .banner-content {
    h1 {
      font-size: 4rem;
    }
  }
}

@include xl {
  .banner {
    font-size: 4rem;
  }
  .banner-content {
    h1 {
      font-size: 5rem;
    }
  }
}
