
@import '~@wilsongp/common.assets/scss/mixins';

.banner {
  background-image: url(https://wilsongp.github.io/assets/images/header_lg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 10rem;
  color: #fff;
}

.banner-content {
  text-align: center;
}

p {
  font-size: 2rem;
}


@include md {
  p {
    font-size: 3rem;
  }
  .banner {
    min-height: 15rem;
  }
}

@include lg {
  p {
    font-size: 5rem;
  }
  .banner {
    min-height: 20rem;
  }
}
